<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>Pipes incluidos en Ángular - Usualmente en el Common Module</p>
</div>

<div class="grid">
    <div class="col md-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            Saludos {{nombre}}, Espero que estés content{{genero | i18nSelect: generoMap}}.
        </p-fieldset>
    </div>
    <div class="col md-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            Actualmente tenemos un cliente esperando
        </p-fieldset>
    </div>
</div>